[package]
name = "codespan-lsp"
version = "0.4.1" # CODESPAN
license = "Apache-2.0"
authors = ["Markus Westerlind <marwes91@gmail.com>"]
description = "Conversions between codespan types and Language Server Protocol types"
homepage = "https://github.com/brendanzab/codespan"
repository = "https://github.com/brendanzab/codespan"
documentation = "https://docs.rs/codespan-lsp"
edition = "2018"

[dependencies]
codespan = { version = "0.4.1", path = "../codespan" } # CODESPAN
codespan-reporting = { version = "0.4.1", path = "../codespan-reporting/" } # CODESPAN
lsp-types = "0.61"
url = "2"
