[package]
name = "codespan"
version = "0.3.0" # CODESPAN
readme = "../README.md"
license = "Apache-2.0"
authors = ["Brendan Zabarauskas <bjzaba@yahoo.com.au>"]
description = "Data structures for tracking locations in source code"
homepage = "https://github.com/brendanzab/codespan"
repository = "https://github.com/brendanzab/codespan"
documentation = "https://docs.rs/codespan"
edition = "2018"

[dependencies]
derive_more = "0.15"
heapsize = { version = "0.4", optional = true }
heapsize_derive = { version = "0.1", optional = true }
serde = { version = "1", optional = true, features = ["derive"]}
unicode-segmentation = "1.3"

[dev-dependencies]
pretty_assertions = "0.6"

[features]
serialization = ["serde"]
memory_usage = ["heapsize_derive", "heapsize"]
